<div class="grid--item news--widget size--{{ item.size }} module--id-{{ item.moduleId }}">
    {% for newsItem in item.data %}
        <div class="row">
            <i class="zmdi zmdi-rss"></i>
            <span class="title">{{ newsItem.title }}</span>
        </div>
    {% endfor %}
</div>