{% extends 'Dashboard/base.twig' %}

{% block beforeContainer %}
    <div class="page--loader"></div>
{% endblock %}

{% block container %}
    <div class="grid--container">
        {% for item in gridItems %}
            {% for key, widgetPath in widgetPaths %}
                {% if item.moduleId == key %}
                    {% include widgetPath %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}


{% block afterContainer %}
    <script>
        const pageLoaderActive = {{ pageLoaderActive|json_encode()|raw }};
        const intents = {{ moduleIntents|json_encode()|raw }};
    </script>
{% endblock %}