<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart | Fehlermeldung</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/App/Public/Assets/errors/app.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body class="dashboard">
{% block beforeContainer %}{% endblock %}
<div class="container">
    {% block container %}{% endblock %}
</div>
{% block afterContainer %}{% endblock %}
</body>
</html>