<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart | Admin</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600" rel="stylesheet">
        <link rel="stylesheet" href="/App/Public/Assets/app.css">
    {% endblock %}
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="/App/Resources/Assets/js/backend/app.js"></script>
    {% endblock %}
</head>
<body class="admin">
    {% block beforeContainer %}{% endblock %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    {% block afterContainer %}{% endblock %}
</body>
</html>