{% extends 'Admin/index.twig' %}

{% block contentInner %}
    <h1>Grid Settings:</h1>
    <div class="grid--container">
        {% for item in gridItems %}
            {% block moduleItemsBlock %}
                {% for widgetBasePath in widgetBasePaths %}
                    {% include widgetBasePath %}
                {% endfor %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
