{% extends 'Admin/index.twig' %}

{% block contentInner %}
    <h1>{{ module.name }}</h1>
    <h2>{{ module.author }}</h2>
    <h2>{{ module.path }}</h2>
    <h3>{{ module.active }}</h3>
{% endblock %}