<div class="menu--list">
    <div class="menu--item">
        <span class="menu--item-header">Dashboard</span>
        <a class="menu--item-link" href="/grid">Grid Einstellungen</a>
        <a class="menu--item-link" href="/admin/settings">Allgemeine Einstellungen</a>
    </div>
    {% for item in adminContext.modules %}
        <div class="menu--item">
            <span class="menu--item-header">{{ item.name }}</span>
            <a class="menu--item-link" href="/modules/get/{{ item.id }}">Informationen</a>
            <a class="menu--item-link" href="/modules/settings/{{ item.id }}">Einstellungen</a>
        </div>
    {% endfor %}
</div>