<!DOCTYPE html>
<html>
<head>
    <title>Smart</title>
    {% block stylesheets %}{% endblock %}
    {% block javascriptsHeader %}{% endblock %}
</head>
<body id="app">
{% block body %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}
{% block javascriptsFooter %}{% endblock %}
</body>
</html>