<div class="widgets--container" id="app">
    {% for widget in widgets %}
        {% if widget.type == "weather" %}
            {% include 'smart-mirror/widget-weather.twig' with widget %}
        {% elseif widget.type == "calender" %}
            {% include 'smart-mirror/widget-datetime.twig' with widget %}
        {% elseif widget.type == "todo" %}
            {% include 'smart-mirror/widget-todo.twig' with widget %}
        {% elseif widget.type == "news" %}
            {% include 'smart-mirror/widget-news.twig' with widget %}
        {% elseif widget.type == "reminders" %}
            {% include 'smart-mirror/widget-reminder.twig' with widget %}
        {% elseif widget.type == "brand" %}
            {% include 'smart-mirror/widget-brand.twig' with widget %}
        {% endif %}
    {% endfor %}
</div>