
<div class="widget {{ options.size }} datetime-widget">
    <div class="content">
        <div class="columns">
            <span class="time"></span>
            <span class="date"></span>
        </div>
    </div>
</div>