
<div class="widget {{ options.size }} weather-widget">
    <div class="content">
        <div class="columns">
            <div class="row">
                <div class="current-weather-icon"></div>
                <span class="current-weather"></span>
            </div>
            <div class="row">
                <span class="location"></span>
            </div>
            <div class="row">
                <span class="wind-speed"></span>
            </div>
        </div>
    </div>
</div>

