<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body id="{% block bodyId %}{% endblock %}" class="{% block bodyClass %}{% endblock %}">
        {% block body %}
            <div class="container">
                {% block container %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>